@import '~@angular/material/theming';

// Palettes
$palette-primary: mat-palette($mat-indigo);
$palette-accent:  mat-palette($mat-deep-orange, A200, A100, A400);
$palette-warn:    mat-palette($mat-red);

// Theme
$timer-theme: mat-light-theme($palette-primary, $palette-accent, $palette-warn);

// Colors
$color-primary: mat-color($palette-primary);
$color-accent: mat-color($palette-accent);
$color-warn: mat-color($palette-warn);


